@import ../main/main


.contact-options
    grid-column: wide

    .__heading
        margin: 6rem 0 3rem
        font-weight: $weight_bold
        font-size: $size_large
        line-height: 1
        font-family: $font-family
        letter-spacing: -0.04rem

    .__text
        margin: 3rem 0 0

    .__link
        +text--link

    .__channel
        font-weight: $weight_normal
        font-size: $size_small
        line-height: 3rem
        font-family: monospace

    +respond--mini
        .__heading
            font-size: 2.4rem

        .__text, .__link
            font-size: $size_small

        .__channel
            font-size: $size_tiny


.irc-client
    width: 100%
    height: 45rem
    border: 0
    margin: 3rem 0
