@import ../main/main


.main-section
    > .__heading
        margin-top: 6rem
        margin-bottom: 3rem
        line-height: 3rem
        font-size: $size_medium
        font-weight: $weight_bold
        font-family: $font-family

    .__link
        +text--link
        font-weight: $weight_bold

    +respond--mini
        grid-column: 1 / -1
        font-size: $size_small

        > .__text,
        > .__heading
            padding: 0 3rem

        > .__heading
            text-align: center

    +respond--small
        grid-column: 2 / -1
    +respond--medium
        grid-column: 4 / -3


.main-section.--payment
    > .__heading
        margin-top: 9rem


.donate-option
    position: relative // Create new block formatting context to float label in
    display: grid
    grid-template-rows: 9rem auto
    grid-template-columns: 100%
    justify-items: center
    border-radius: 0.6rem
    background: $gold-bright

    > .__top
        grid-row: 1
        align-self: center

    > .__toggle
        position: absolute // Remove from layout flow
        z-index: -1 // Prevent clicks
        opacity: 0 // Hide, but remain focus-able with keyboard

    // Pretend label is focused when toggle is
    > .__toggle:focus + .__label
        border-bottom: 0.2rem solid $link

    > .__label
        +text--link
        position: absolute
        z-index: 1
        bottom: 2px
        line-height: 2.1rem
        font-size: $size_tiny
        font-weight: $weight_ultra-bold
        // Simulate link on labels
        &:hover
            border-bottom: 0.2rem solid $link--hover
            color: $link--hover
            cursor: pointer

    > .__label:before
        +image($toggle-arrow)
        position: relative
        bottom: 0.2rem
        right: 0.6rem
        display: inline-block
        width: 1rem
        height: 0.47rem
        content: ""

    > .__toggle:checked + .__label:before
        transform: scaleY(-1)
        transition: transform 0.2s ease-out

    // Hide without removing from DOM for sliding transition
    > .__toggle:not(:checked) + .__label + .__desc
        height: 0
        transform: translateY(-2rem)

    > .__desc
        grid-row: 2
        justify-self: stretch
        display: grid
        overflow: hidden // Used in both states (open: forces content to wrap)
        grid-auto-columns: 100%
        margin-bottom: 3rem // Room for the label to not overlap content
        padding: 0 3rem
        // Firefox has issues animating height to auto or 100%, so unfortunately
        // we need to set it manually in rem -- hard coded based on content at
        // each width (media query) -- in the variants below.
        align-content: start // makes wrong heights obvious, otherwise no effect
        transition: transform 0.2s ease-in, height 0.2s ease-out

    // The medium layout's .__top has enough space for the label to overlap it
    +respond--medium
        > .__label
            right: 9px

        > .__toggle:not(:checked) + .__label + .__desc
            margin-bottom: 0


.donate-option.--paypal
    > .__desc
        font-size: $size_small
        font-weight: $weight_bold

        +respond--mini
            height: 36rem

        +respond--small
            height: 24rem

        +respond--medium
            height: 15rem


.donate-option.--btc
    > .__top
        display: flex
        align-items: center
        font-weight: $weight_bold

    .__btc
        height: 4rem
        width: 4rem

    > .__desc.--pgp
        overflow-wrap: break-word
        grid-gap: 1.5rem
        line-height: 1.5rem
        font-size: $size_tiny
        font-weight: $weight_semi-bold
        font-family: $font-family

    +respond--mini
        > .__top
            flex-direction: column
            font-size: 1rem

        > .__desc
            height: 45rem

    +respond--small
        > .__top
            flex-direction: column
            font-size: $size_tiny

        > .__desc
            height: 36rem

    +respond--medium
        > .__top
            justify-self: start
            flex-direction: row
            font-size: $size_small

        .__btc
            margin-left: 4rem
            margin-right: 3rem

        > .__desc
            height: 31.5rem


.main-section.--bonuses
    > .__table
        display: grid
        grid-template-columns: 9rem auto
        grid-gap: 3rem 1.5rem

    .__amount
        text-align: end
        font-weight: $weight_bold

    +respond--mini
        > .__table
            grid-template-columns: 100%
            grid-gap: 0rem
            padding: 0 3rem
            text-align: center
            justify-items: center // Supercedes .__amount { text-align: end }

        .__amount:not(:first-child)
            margin-top: 3rem
