@import ../main/main


.merch-section
    grid-column: wide

    .__head
        font-weight: $weight_bold
        font-size: $size_large
        line-height: 3rem
        font-family: $font-family

    .__link
        +text--link

    .__desc
        color: $blue
        font-weight: $weight_bold
        font-size: $size_small
        line-height: 1.25
        font-family: $font-family


.merch-section.--intro
    margin: 3rem auto


.merch-section.--stickers
    // Center images inside their boxes,
    // center captions below the boxes
    .__item, .__desc
        text-align: center

    .__item
        background: #f1fcfe
        border-radius: 0.6rem

    // Set margin for sticker images and caption
    .__img.--logo
        margin: 7.8rem auto 7.5rem

    .__img.--logo-long
        margin: 12rem auto 10.3rem

    .__img.--handshake
        margin: 6.6rem auto 6rem

    .__img.--shovel
        margin: 7.8rem auto 7.3rem

    .__img.--hexagon
        margin: 2.7rem auto 3.4rem

    +respond--mini
        display: grid
        grid-template-rows: repeat(68, 3rem)
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 0 3rem
        margin: 3rem auto 6rem

        .__head
            grid-area: span 2 / span 4

        .__intro
            grid-area: span 6 / span 4
            margin: 0

        .__item
            grid-area: span 12 / span 4
            width: 100%
            height: 30rem
            margin: 0 auto 6rem

        // Re-align the image margins and captions
        .__img
            max-width: 18rem

        .__img.--logo
            margin: 7.6rem auto

        .__img.--logo-long
            margin: 12.6rem auto

        .__img.--handshake
            margin: 7.2rem auto

        .__img.--shovel
            margin: 8.2rem auto

        .__img.--hexagon
            margin: 6.2rem auto

    +respond--small
        display: grid
        grid-template-rows: repeat(67, 3rem)
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 0 3rem
        margin: 3rem auto 6rem

        .__head
            grid-area: span 2 / span 4

        .__intro
            grid-area: span 5 / span 4
            margin: 0

        .__item
            grid-area: span 12 / span 4
            margin: 0 0 6rem

    +respond--medium
        display: grid
        grid-template-rows: repeat(41, 3rem)
        grid-template-columns: repeat(8, 1fr)
        margin: 3rem auto 6rem
        grid-gap: 0 3rem

        .__head
            grid-area: span 2 / span 8

        .__intro
            grid-area: span 3 / span 8
            margin: 0

        .__item
            grid-area: span 12 / span 4
            margin: 0 0 6rem


.merch-section.--shirts
    +respond--mini
        .__item
            margin: 0 auto 4.5rem

        .__img
            width: 100%

    +respond--mini
        display: grid
        grid-template-rows: repeat(80, 3rem)
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 0 3rem

        .__head
            grid-area: span 2 / span 4

        .__intro
            grid-area: span 5 / span 4
            margin: 0

        .__item
            grid-area: span 10 / span 4

    +respond--small
        display: grid
        grid-template-rows: repeat(110, 3rem)
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 0 3rem

        .__head
            grid-area: span 2 / span 4

        .__intro
            grid-area: span 5 / span 4
            margin: 0

        .__item
            grid-area: span 13 / span 4

    +respond--medium
        display: grid
        grid-template-rows: repeat(57, 3rem)
        grid-template-columns: repeat(8, 1fr)
        grid-gap: 0 3rem

        .__head
            grid-area: span 2 / span 8

        .__intro
            grid-area: span 3 / span 8
            margin: 0

        .__item
            grid-area: span 13 / span 4
