@import ../main/main


.main-content
    .__link
        +text--link

    .--strong, .--strong .__link
        font-weight: $weight_semi-bold

    +respond--mini
        font-size: $size_small


.intro-text
    grid-column: narrow


.section-heading
    grid-column: narrow
    font-weight: $weight_bold
    font-size: $size_large
    line-height: 3rem
    font-family: $font-family

    +respond--mini
        margin: 6rem 0 3rem
        font-size: 2.6rem

    +respond--small
        margin: 6rem 0 3rem
        font-size: $size_large

    +respond--medium
        margin: 6rem 0 0


.key-sponsors, .general-sponsors
    list-style: none

    .__link
        font-weight: $weight_bold
        font-style: italic

    +respond--mini
        &.--col1, &.--col2
            grid-column: 2

        .__sponsor
            margin: 1rem 0 0

        .__sponsor:first-child
            margin: 0

    +respond--small
        &.--col1, &.--col2
            grid-column: 2 / -2

        .__sponsor
            margin: 1rem 0 0

        .__sponsor:first-child
            margin: 0

    +respond--medium
        &.--col1
            grid-column: 4 / 9
            text-align: right

        &.--col2
            grid-column: 10 / -3

        .__sponsor
            margin: 3rem 0 0


.anon-sponsors
    grid-column: narrow
    margin: 3rem auto
    text-align: center
