@import ../../main/main

.__text.--h1
    margin: 6rem 0 3rem
    font-weight: $weight_bold
    font-size: $size_huge
    line-height: 1
    font-family: $font-family
    letter-spacing: -0.06rem

.__text.--h2
    margin: 6rem 0 3rem
    font-weight: $weight_bold
    font-size: $size_large
    line-height: 1
    font-family: $font-family
    letter-spacing: -0.04rem

.__text.--h3
    margin: 6rem 0 3rem
    font-weight: $weight_bold
    font-size: $size_medium
    line-height: 1
    font-family: $font-family

.__text.--h4
    margin: 6rem 0 3rem
    font-weight: $weight_ultra-bold
    font-size: $size_small
    line-height: 1
    font-family: $font-family
    letter-spacing: 0.04rem

.__text.--h5
    margin: 6rem 0 3rem
    font-weight: $weight_ultra-bold
    font-size: $size_small
    line-height: 1
    font-family: $font-family
    letter-spacing: 0.04rem

.__text.--h6
    margin: 6rem 0 3rem
    font-weight: $weight_semi-bold
    font-size: $size_small
    line-height: 1
    font-family: $font-family
    font-style: italic
    letter-spacing: 0.04rem

.__text.--title
    font-weight: $weight_bold
    font-size: $size_huge
    line-height: 1
    font-family: $font-family

.__text.--heading
    font-weight: $weight_bold
    font-size: $size_large
    line-height: 3rem
    font-family: $font-family

.__text.--body
    font-weight: $weight_light
    font-size: $size_medium
    line-height: 3rem
    font-family: $font-family

.__text.--small
    font-weight: $weight_normal
    font-size: $size_small
    line-height: 3rem
    font-family: $font-family

.__text.--smallest
    font-weight: $weight_semi-bold
    font-size: $size_tiny
    line-height: 3rem
    font-family: $font-family

.section
    margin: 3rem 0
    grid-column: 2 / -2

    +respond--mini
        grid-column: 2

.__heading
    margin: 3rem 0

    +respond--mini
        margin: 3rem 0 1.5rem

.__text.--title, .__text.--heading,
.__text.--body, .__text.--small,
.__text.--smallest
    margin: 0 0 3rem

.__text.--h1, .__text.--h2,
.__text.--h3, .__text.--h4,
.__text.--h5, .__text.--h6
    margin: 6rem 0 3rem

.__hr
    margin: 6rem 0

.__tab-nav
    +tab-nav
    width: 32.2rem
    padding: 0.6rem 0 0.8rem

.__button
    margin: 3rem 0
