@import ../../main/main


body
    background: #e5f9fd


.main-header.--logo-small
    grid-column: 1 / -1
    display: grid
    height: 24rem
    justify-items: center
    align-items: end

    &:before
        +image($auth-header-logo)
        display: block
        width: 8.5rem
        height: 9rem
        content: ""

    .__title
        text-align: center
        font-size: $size_large
        font-weight: $weight_normal

    +respond--mini
        height: 30rem


.auth-box
    margin-top: 3rem
    border-radius: 0.6rem
    border: 0.1rem solid lighten($blue-dark, 60%)
    text-align: center

    .__link
        +text--link

    +respond--mini
        grid-column: 1 / -1

    +respond--small
        grid-column: 1 / -1

    +respond--medium
        grid-column: 5 / -5

    // Planned to re-use auth-box on signup page, where background is not white
    &.--white
        background: $white


.auth-box.--form
    padding: 3rem

.login-form
    > .labeled-input + .labeled-input
        margin-top: 3rem

    .__reset
        line-height: 4.5rem
        font-size: $size_small

        .__link
            font-weight: $weight_semi-bold

    .__button
        +button--big($white, $green, $green-dark)
        width: 100%
        margin-top: 1.5rem


.auth-box.--oneline
    margin-top: 4.5rem
    padding: 1.5rem 3rem
    font-size: $size_small

    +respond--mini
        // Adjust font size to fit signup text on one line
        font-size: $size_tiny
        font-weight: $weight_semi-bold

.labeled-input
    color: $blue-dark
    position: relative

    .__field
        width: 100%
        height: 4.5rem
        padding: 0 1.5rem
        border-radius: 0.4rem
        border: 0.1rem solid #7ba7c0
        font-size: $size_medium
        font-weight: $weight_normal
        color: $blue-dark

    .__field::placeholder
        font-weight: $weight_light
        color: transparentize($blue-dark, 0.6)

    .__field:focus::placeholder
        color: transparent

    // Show labels on the top border of a field
    // when the field gains focus or contains user input
    .__label
        position: absolute
        left: 1rem
        top: -0.65rem
        padding: 0 0.5rem
        line-height: 1
        font-weight: $weight_semi-bold
        font-size: $size_tiny
        background: $white
        visibility: hidden

    .__field:focus + .__label,
    .__field:not(:placeholder-shown) + .__label
        color: $blue-dark
        visibility: visible
