{# This is where development tools can be hooked up. #}
{# Show development mode marker and tab #}
<div class="devel-header">
  <div class="devel-tab">
    <a class="__link" href="/devel/index">devel</a>
  </div>
</div>
<input class="tool-toggle --grid" type="checkbox">
<div class="tool-label --grid"></div>
<div class="devel-grid"></div>
<input class="tool-toggle --mockup" type="checkbox">
<div class="tool-label --mockup"></div>
{# Insert the mockup image based on the page slug #}
{% if page.route.slug == "" %}
  <div class="devel-mockup" style="background: url({{ devel.mockup |
  replace('[mockup]', 'index') }}) center/cover no-repeat;"></div>
{% else %}
  <div class="devel-mockup" style="background: url({{ devel.mockup |
  replace('[mockup]', page.route.slug | replace('/', '_')) }})
  center/cover no-repeat;"></div>
{% endif %}
