<!doctype html>
<html>
  <head>
    <link rel="apple-touch-icon-precomposed" href="/img/main/favicon.png">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=yes"
    name="viewport">
    <title>
      {% if page.title %}
        {{ page.title }} &mdash; {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    {# Load stylesheet for development mode. #}
    {% if devel.enabled %}
      <link rel="stylesheet" href="/css/main/devel.css">
    {% endif %}

    {% if page.route.slug == "" %}
      <link rel="stylesheet" href="/css/page/index.css">
    {% else %}
      <link rel="stylesheet" href="/css/page/{{ page.route.slug }}.css">
    {% endif %}
  </head>
  <body>
    {% if devel.enabled %}
      {% include "devel-header.html" %}
    {% endif %}
    <div class="page-wrap">
      {% include "navbar.html" %}
      <div class="site-alerts">
        {# This partial is for the developer notes. #}
        {% if page.route.slug == "devel/alerts" %}
          {% include "navbar-alerts.html" %}
        {% endif %}
      </div>
      {{ content|safe }}
      {# Include footer on all pages except login and reset-passphrase #}
      {% if (page.route.slug != "auth/login") and
        (page.route.slug != "auth/reset-passphrase") %}
        {% include "footer.html" %}
      {% endif %}
    </div>
    {{ piecrust.debug_info|safe }}
  </body>
</html>
