{# Begin active-link #}
{# This control structure sets the currently active link in the navbar menu.
This is for the prototype only. For production, edit the menu link classes to
their corresponding Haskell variables. #}
{% if page.route.slug == "" %}
  {% set active_home = "--active" %}
{% elif page.route.slug == "how-it-works" %}
  {% set active_hiw = "--active" %}
{% elif page.route.slug == "projects" %}
  {% set active_projects = "--active" %}
{% elif page.route.slug == "about" %}
  {% set active_about = "--active" %}
{% endif %}
{# End active-link #}


<nav class="top-navbar">
  <a class="navbar-logo" href="/"><div class="__img"></div></a>

  <input class="menu-toggle" type="checkbox">
  <div class="menu-label">Menu</div>
  <div class="navbar-menu">
    <a class="__link {{ active_home }}" href="/">Home</a>
    <a class="__link {{ active_hiw }}" href="/how-it-works">How it works</a>
    <a class="__link {{ active_projects }}" href="/projects">Projects</a>

    <div class="about-dropdown">
      <input class="about-toggle" type="checkbox">
      <div class="about-label {{ active_about }}">About</div>
      <ul class="about-menu">
        <li class="__li"><a class="__link"
            href="https://community.snowdrift.coop/g/team">Team</a></li>
        <li class="__li"><a class="__link" href="/contact">Contact</a></li>
        <li class="__li"><a class="__link"
            href="https://community.snowdrift.coop"> Community</a>
        </li>
      </ul>
    </div>

    {% if user.logged_in %}
    <div class="account-dropdown">
      <input class="account-toggle" type="checkbox">
      <div class="account-label">My Account</div>
      <ul class="account-menu">
        <li class="__li"><a class="__link" href="/dashboard">Dashboard</a></li>
        <li class="__li"><a class="__link --logout" href="/">Log out</a></li>
      </ul>
    </div>
    {% else %}
    <a class="__link --login" href="/auth/login">Log in</a>
    {% endif %}
  </div>
</nav>

<div class="status-wrap">
  <a class="status-flag" href="/about#status">Status</a>
</div>
