@import ../../main/main
@import ../../main/dashboard


.now-link
    +text--link
    grid-column: 2 / 6
    justify-self: center
    font-weight: 800
    background: white

.main-content
    background: linear-gradient(90deg, white 0rem, white 12rem, $blue 12.1rem, $blue 12.18rem, white 12.18rem)

.__limit
    position: absolute
    right: 3rem
    top: -1.5rem
    color: $red
    font-size: 1.7rem
    font-weight: 800
    background: white
    padding: 0 1.5rem

