.bottom-footer
    grid-area: foot
    display: grid

.footer-logo
    .__img
        +image($footer-logo)
        height: 4.5rem
        margin: 15rem auto 6rem

        +respond--mini
            margin: 15rem 3rem 6rem


.footer-nav
    justify-self: center
    margin-bottom: 6rem
    display: grid

    .__col1
        grid-area: c1
        list-style: none

    .__col2
        grid-area: c2
        list-style: none

    .__col3
        grid-area: c3
        color: $blue
        font-weight: $weight_normal
        font-size: $size_small
        line-height: 3rem
        font-family: $font-family

    .__link
        +text--link

    .__col1 .__link, .__col2 .__link
        font-weight: $weight_semi-bold

    +respond--mini
        grid-template-columns: $grid-columns--mini
        grid-template-areas: ". c1 ." ". c2 ." ". c3 ."
        grid-row-gap: 3rem
        margin-bottom: 0
        font-size: $size_medium

        .__col3
            margin: 3rem auto
            text-align: center

    +respond--small
        grid-template-columns: $grid-columns--small
        grid-template-areas: ". c1 c1 c1 . c2 c2 c2 ." ". c3 c3 c3 c3 c3 c3 c3 ."
        grid-row-gap: 6rem
        font-size: 1.9rem

        .__col3
            text-align: center

    +respond--medium
        grid-template-columns: $grid-columns--medium
        grid-template-areas: ". c1 c1 c1 . c2 c2 c2 c2 c3 c3 c3 c3 c3 c3 c3 ."
        font-size: $size_medium

        .__col3
            margin-left: 3rem


.partners-title
    margin: 3rem 0
    color: $blue
    font-weight: $weight_normal
    font-size: $size_medium
    line-height: 3rem
    font-family: $font-family
    text-align: center

    .__link
        +text--link


.partners-logos
    background: linear-gradient($blue-grad--start, $blue-grad--end)
    display: grid
    justify-content: center

    .__logos
        display: grid
        margin: 6rem 3rem
        grid-template-columns: repeat(auto-fill, 15rem)
        grid-auto-rows: 6rem
        grid-gap: 3rem
        justify-content: center

        +respond--mini
            margin: 4.5rem 3rem
            width: $grid-width--mini

        +respond--small
            grid-row-gap: 6rem
            width: $grid-width--small

        +respond--medium
            width: $grid-width--medium

    .__logo
        width: 100%
        height: 100%
        opacity: 0.7

    .__logo:hover
        opacity: 1.0
        transition: opacity 0.15s ease-in 0s

    .__logo.--osi
        +image($logo-osi)

    .__logo.--qco
        +image($logo-qco)

    .__logo.--oin
        +image($logo-oin)

    .__logo.--cfi
        +image($logo-cfi)

    .__logo.--osl
        +image($logo-osl)
