// _legal.sass
//
// Styling for legal pages with text-heavy content only.
// Element selectors are used to reduce the amount of processing required
// during text updates and markup format conversion.
// Pages: Privacy Policy, Terms of Service, Trademarks


.privacy-policy, .terms-service,
.trademark-policy
    grid-column: wide

    +respond--mini
        font-size: $size_small

    +respond--small
        font-size: $size_small

    h2
        margin: 6rem 0 3rem
        font-weight: $weight_bold
        font-size: $size_large
        line-height: 1
        font-family: $font-family
        letter-spacing: -0.04rem

        +respond--mini
            font-size: 2.4rem

        +respond--small
            font-size: 2.4rem

    h3
        margin: 6rem 0 3rem
        font-weight: $weight_bold
        font-size: $size_medium
        line-height: 1
        font-family: $font-family

        +respond--mini
            font-size: $size_medium

        +respond--small
            font-size: $size_medium

    h4
        margin: 6rem 0 3rem
        font-weight: $weight_ultra-bold
        font-size: $size_small
        line-height: 1
        font-family: $font-family
        letter-spacing: 0.04rem

    p
        margin: 3rem 0

    em, em a
        font-style: italic

    strong
        font-weight: $weight_bold

    sup
        font-weight: $weight_normal
        font-size: $size_small
        line-height: 3rem
        font-family: $font-family

    a
        +text--link

    img
        max-width: 100%

    hr
        +hr--tilt
        margin: 6rem auto

        +respond--small
            margin: 4.5rem auto 3rem

    ol
        margin: 3rem 0 3rem 1rem

    ul
        margin: 1.5rem 0 4.5rem 3rem
        list-style: outside disc

    li
        margin: 1rem


.terms-service
    font-size: $size_small


// Table of contents as a list (Privacy Policy)
.toc-list
    margin: 1.5rem 3rem 4.5rem 3rem

    ul
        margin: 0.5rem 3rem 1rem

    li
        margin: 0.5rem
        padding: 0 0 0 0.5rem


// Table of contents as a table (Terms of Service)
// A div to wrap the table to enable horizontal scrolling at small widths
.toc-wrap
    +respond--mini
        overflow-x: auto

.toc-table
    width: 100%
    // Offset for table head bottom border
    margin: -0.9rem 0 0 0
    border-collapse: collapse
    font-size: $size_small
    text-align: left

    thead tr
        border-bottom: 0.3rem solid $blue-bright

    thead th
        padding: 0.3rem 1.5rem 0.3rem

    tr
        vertical-align: top

    tr:nth-child(even)
        background: transparentize($blue-bright, 0.75)

    td
        padding: 1.5rem 3rem 1.5rem 1.5rem


// Footnotes (Trademarks)
.footnotes-list
    font-weight: $weight_normal
    font-size: $size_small
    line-height: 3rem
    font-family: $font-family
    margin: 0 0 0 1.8rem

    li
        margin: 3rem 0
        padding: 0 0 0 1rem

    a
        +text--link

    +respond--mini
        font-size: $size_tiny
