// Navbar container
.top-navbar
    grid-area: nav
    z-index: 20
    height: 6rem
    box-shadow: 0 0 1.5rem 0.1rem transparentize($drop-shadow, 0.6)
    background: $white
    display: flex

// Tabbed link under the navbar
.status-wrap
    grid-area: main
    justify-self: center
    height: 0
    display: grid

    +respond--mini
        grid-template-columns: $grid-columns--mini
    +respond--small
        grid-template-columns: $grid-columns--small
    +respond--medium
        grid-template-columns: $grid-columns--medium

.status-flag
    position: relative
    grid-column-start: 2
    top: -0.6rem
    z-index: 1
    padding: 0.3rem 1.4rem
    width: 8.2rem
    height: 3.4rem
    border: 0.2rem solid $white
    border-radius: 0.6rem
    background: $gold-bright
    color: $gold-dark
    text-decoration: none
    font-weight: $weight_semi-bold
    font-size: $size_small
    line-height: 3rem
    font-family: $font-family
    transform: rotate(-4deg)

    &:hover
        height: 4rem
        padding: 0.9rem 1.4rem 0.3rem

@import ./navbar--medium
@import ./navbar--small
@import ./navbar--mini
